<div class="modal fade in">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
          <textarea style="min-height: 200px" ng-model="message"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close('yes')" class="header__user_btn header__user_btn_warning" ng-disabled="message === undefined">Submit</button>
        <button type="button" ng-click="close('no')" class="header__user_btn header__user_btn_warning">Close</button>
      </div>
    </div>
  </div>
</div>
