<header class="header__demo">
  <div class="header__caption">
    <a ui-sref="accounts" class="header__logo">
      <img class="header__logo_img" src="/app/images/ieu_nocolor.png">
    </a>
    <div class="header__title">
      <h1 class="header__title_text">Smart corresponding banking demo</h1>
    </div>
  </div>
  <div class="header__user" ng-show="!$ctrl.userIsPresent"> </div>
  <div class="header__user" ng-show="$ctrl.userIsPresent">
    <div class="header__user_item">
      <div class="header__user_value header__user_value_no">BIC:</div> <div class="header__user_value header__user_value_yes">{{$ctrl.user.bic}}</div>
    </div>
    <div class="header__user_item header__user_item_separator"> / </div>
    <div class="header__user_item">
      <div class="header__user_value header__user_value_no">User:</div> <div class="header__user_value header__user_value_yes">{{$ctrl.user.username}}</div>
    </div>
    <div class="header__user_item">
      <button class="header__user_btn" ng-click="$ctrl.Logout()">Logout</button>
    </div>
  </div>
  <!--<todo-text-input-->
    <!--new-todo="true"-->
    <!--on-save="$ctrl.handleSave(text)"-->
    <!--placeholder="What needs to be done?"-->
  <!--&gt;</todo-text-input>-->
</header>
