<header class="header">
  <div class="header__caption">
    <a href="/" class="header__logo">
      <img class="header__logo_img" src="app/images/ieu_nocolor.png">
    </a>
    <div class="header__title">
      <h1 class="header__title_text">Hyperledger project</h1>
    </div>
  </div>

  <div class="header__user" ng-show="$ctrl.userIsPresent">
    <div class="header__user_item">
      BIC: {{$ctrl.user.bic}}
    </div>
    <div class="header__user_item"> / </div>
    <div class="header__user_item">
      User: {{$ctrl.user.username}}
    </div>
  </div>
  <!--<todo-text-input-->
    <!--new-todo="true"-->
    <!--on-save="$ctrl.handleSave(text)"-->
    <!--placeholder="What needs to be done?"-->
  <!--&gt;</todo-text-input>-->
</header>
