<form class="login-form">
  <h1 class="login-form__title">Login form</h1>
  <ul class="login-form__list">
    <li class="login-form__item">
      <label class="login-form__label" for="name">BIC</label>
      <input class="login-form__field" type="text" name="bic" maxlength="100">
      <span class="login-form__desc" >Enter your BIC here</span>
    </li>
    <li class="login-form__item">
      <label class="login-form__label" for="email">Login</label>
      <input class="login-form__field" type="text" name="username" maxlength="100">
      <span class="login-form__desc" >Enter your login name here</span>
    </li>
    <li class="login-form__item">
      <label class="login-form__label" for="url">Password</label>
      <input class="login-form__field" type="password" name="password" maxlength="100">
      <span class="login-form__desc" >Please provide a password</span>
    </li>
    <li class="login-form__item login-form__item_last">
      <button class="login-form__submit">Continue</button>
    </li>
  </ul>
</form>
