<header-component></header-component>

<div class="wrapper" style="flex-direction: column;">

  <div class="panel panel-warning" ng-show="$ctrl.errorPresent" style="width: 40%;text-align: center">
    <div class="panel-heading">
      <h3 class="panel-title">Warning!</h3>
    </div>
    <div class="panel-body">
      {{$ctrl.errorMessage}}
    </div>
    <div class="panel-footer">
      <div class="header__user_btn header__user_btn_warning" ui-sref="accounts">
        Refresh
      </div>
    </div>
  </div>

  <div class="accounts__container" ng-show="!$ctrl.errorPresent">
    <div class="accounts__container accounts__container_breadcrumb">
      <ol class="breadcrumb">
        <li><a ui-sref="accounts">Accounts</a></li>
        <li class="active">Transactions</li>
      </ol>
    </div>
    <div class="accounts__title">
      <!--<h1 class="accounts__title_text">Transactions</h1>-->
      <div class="accounts__title_status">
          <div style="text-decoration: underline">Current account state</div>
          <div>Amount: {{userAccountTransactions.accountState.amount}}</div>
          <div>Currency: {{userAccountTransactions.accountState.currency}}</div>
      </div>
    </div>

    <table ng-table="tableParams" class="table table-condensed table-bordered">
      <thead>
      <tr>
        <th rowspan="3">ID</th>
        <th colspan="6">Transfer</th>
        <th rowspan="3">Time</th>
        <th rowspan="3">Status</th>
        <th colspan="3">Account State</th>
      </tr>
      <tr>
        <th colspan="2">Sender</th>
        <th colspan="2">Receiver</th>
        <th rowspan="2">Amount</th>
        <th rowspan="2">Currency</th>
        <th rowspan="2">Amount</th>
        <th rowspan="2">Currency</th>
      </tr>
      <tr>
        <th>Bic</th>
        <th>Account</th>
        <th>Bic</th>
        <th>Account</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $data" ng-click="$ctrl.selectItem(row)" ng-class="{'table-row-selected': row.$selectedItem === true}">
          <td sortable="'id'" filter="{'id': 'text'}" ng-bind="row.id"></td>
          <td sortable="'transfer.sender.bic'" filter="{'transfer.sender.bic': 'text'}" ng-bind="row.transfer.sender.bic"></td>
          <td sortable="'transfer.sender.account'" filter="{'transfer.sender.account': 'text'}" ng-bind="row.transfer.sender.account"></td>
          <td sortable="'transfer.receiver.bic'" filter="{'transfer.receiver.bic': 'text'}" ng-bind="row.transfer.receiver.bic"></td>
          <td sortable="'transfer.receiver.account'" filter="{'transfer.receiver.account': 'text'}" ng-bind="row.transfer.receiver.account"></td>
          <td sortable="'transfer.amount'" filter="{'transfer.amount': 'text'}" ng-bind="row.transfer.amount"></td>
          <td sortable="'transfer.currency'" filter="{'transfer.currency': 'text'}" ng-bind="row.transfer.currency"></td>
          <td>{{row.time}}</td>
          <td sortable="'transactionStatus.status'" filter="{'transactionStatus.status': 'text'}" ng-bind="row.transactionStatus.status"></td>
          <td sortable="'accountState.amount'" filter="{'accountState.amount': 'number'}" ng-bind="row.accountState.amount"></td>
          <td sortable="'accountState.currency'" filter="{'accountState.currency': 'text'}" ng-bind="row.accountState.currency"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<footer-component></footer-component>
